{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="establish_container">
    <div class="establish_title">
        <h3 style="background-image: url({% static 'img/마크.jpg' %}"><span class="title">연구소 소개</span></h3>
        <div class="introduce_title_bg" style="background: url({% static 'img/마크.jpg' %} no-repeat 50% 100%);"></div>
        <ul>
            <li><a href="{% url 'establishobject' %}">연구소 설립 목적</a></li>
            <li><a href="{% url 'group' %}">연구소 조직 및 구성원</a></li>
            <li><a href="{% url 'establish' %}">연구소 연혁 및 규정</a></li>
            <li><a href="{% url 'introduce' %}">연구소장 인사말</a></li>
            <li><a href="{% url 'directions' %}">오시는 길</a></li>
        </ul>
    </div>
    <div class="establish_content">
        <div class="toolbar">
            <span>스포츠융복합연구소</span>
            <span>연구소 소개</span>
            <span>연구소 연혁 및 규정</span>
        </div>
        <hr>
        <h3>연구소 연혁</h3>
        <ul>
            <li>
                <h5>스포츠융복합연구소 연혁</h5>
                <h6>2019년 11월 <span style="font-weight: normal;">미)Texas Woman's University 권영후 교수 초청 세미나 개최</span></h6>
                <h6>2018년 11월 <span style="font-weight: normal;">제1회 건국대학교 스포츠융합연구소 심포지엄 개최</span></h6>
                <h6>2016년 11월 <span style="font-weight: normal;">건국대학교 스포츠융복합연구소 설립</span></h6>
            </li>
            <li class="rule">
                <h4 style="font-weight: bold; text-align: center; color: black;">건국대학교 스포츠융복합연구소 규정</h4>
                <h5>제 1 장 총 칙</h5>
                <h6>제 1 조 (명칭)</h6>
                <p>이 연구소는 건국대학교 스포츠융복합연구소(이하 "연구소"라 한다)라 칭한다.</p>
                <h6>제 2 조 (소재지)</h6>
                <p>당 연구소는 건국대학교 내에 설치한다.</p>
                <h6>제 3 조 (목적)</h6>
                <p>연구소는 스포츠 분야의 과학화, 스포츠관련 산업의 선진화를 위한 학제간 공동연구 및 산학협동의 활성화를 통해 대한민국 스포츠 응용과학 및 기술 분야의 수준을 격상 시키고 관련
                산업의 기술적 지원을 통해 국가기술경쟁력 강화 및 고급인력 양성에 이바지 하는 것을 목적으로 한다.</p>
                <h6>제 4 조 (사업)</h6>
                <p>
                    연구소는 제 3 조의 목적을 달성하기 위하여 다음과 같은 사업을 수행한다.<br>
                    <p class="indent">
                        ① 스포츠 과학 및 기술 수준향상을 위한 제반 연구 <br>
                        ② 스포츠산업기술 개발을 위한 원천 기술 확보 <br>
                        ③ 스포츠과학기술 및 산업 관련 대형 국가과제 수주 <br>
                        ④ 선수 및 지도자, 그리고 관련 산업 관련 종사자들의 수탁교육 <br>
                        ⑤ 연구교수, 박사후연구원, 연구원, 대학원생 등의 전문 연구인력 양성 <br>
                        ⑥ 세미나, 심포지엄, 워크숍 개최, 논문집 발간 등 각종 연구진흥사업 <br>
                        ⑦ 국내외 연구기관과의 학술 및 기술 교류 <br>
                        ⑧ 연구소의 재정 자립을 위한 제반 사업 <br>
                        ⑨ 기타 연구소 설립 목적에 부합하는 사업
                    </p>
                </p>
                <h5>제 2장 조 직</h5>
                <h6>제 5 조 (부서)</h6>
                <p>연구소에는 연구 분야별로 약간의 부서를 둘 수 있으며, 이에 관한 세부 사항은 운영위원회의 심의를 거쳐 소장이 별도로 정한다.</p>
                <h6>제 6 조 (임원)</h6>
                <p>
                    연구소는 다음과 같이 임원을 둔다.<br>
                    <p class="indent">
                        ① 소 장 : 1명 <br>
                        ② 사무국장 : 1명 <br>
                        ③ 연구부장 : 1명 <br>
                        ④ 간 사 : 1명
                    </p>
                </p>
                <h6>제 7 조 (임원의 임무, 임명, 임기)</h6>
                <p>
                    ① 소장은 연구소를 대표하고 연구소 운영에 관한 제반업무를 관장하며 소원인 연구원 중에서 총회에서 선출하고 산학연구처장의 제청으로 총장이 위촉하고 임기는 2년으로 하되 연임할 수 있다. <br>
                    ② 사무국장은 연구소의 제반 업무를 관장하고 소원인 연구원 중에서 소장이 추전하고 총회의 인준을 거쳐 선출하며, 임기는 2년으로 하되 연임할 수 있다. <br>
                    ③ 연구부장은 해당 연구부의 제반 사무 및 연구업무를 담당하며 전임교원 중에서 소장이 추전하고 총회의 인준을 거쳐 선출하며, 임기는 2년으로 하되 연임할 수 있다.
                </p>
                <h6>제 8 조 (소원)</h6>
                <p>
                    소원은 상임연구원, 객원연구원, 선임연구원, Post-Doc, 석·박사과정 대학원생, 연구보조원 및 행정보조원 등으로 구성한다.<br>
                    <p class="indent">
                        ① 상임연구원은 연구업무를 수행하며, 본교 전임교원 및 그에 상응하는 자격을 가진 인사 중에서 운영위원회의 심의를 거쳐 소장이 임명하며 임기는 2년으로 하되 연임 할 수 있다.<br>
                        ② 객원연구원, post-doc에 관한 사항은 별도로 정하는 규정에 의한다.<br>
                        ③ 대학원생 및 학부학생은 조사, 연구업무에 참여할 수 있으며 소장이 위촉하고 임기에 관한 사항은 소장이 별도로 정한다.<br>
                        ④ 소장은 필요에 따라 연구기능원과 사무원을 임명할 수 있다.<br>
                    </p>
                </p>
                <h6>제 9 조 (운영위원회)</h6>
                <p>
                    연구소의 기본계획수립, 연구방향 설정, 주요 사업과제 심의, 예산 결산 및 기타 중요한 사항을 심의 의결하기 위하여 운영위원회를 둔다.<br>
                    <p class="indent">
                        ① 운영위원회는 소장, 사무국장 및 소장이 위촉한 연구원(5명 이상)으로 구성되며 소장이 의장이 된다.<br>
                        ② 운영위원회는 소장이 필요하다고 인정할 때에 소집하고 운영위원 과반수의 출석으로 성립되며, 출석위원 과반수의 찬성으로 의결한다.
                    </p>
                </p>
                <h6>제 10 조 (고문)</h6>
                <p>연구소는 연구 및 사업의 활성화를 위해 약간 명의 고문을 둘 수 있으며 운영위원회의 심의를 거쳐 소장이 위촉한다.</p><br>
                <h6>제 11 조 (자문위원회)</h6>
                <p>
                    ① 연구소는 주요 업무의 자문을 받기 위해 자문위원회를 둘 수 있다. <br>
                    ② 자문위원은 관련 산업계 인사 및 국내·외 관련 기관의 인사 중에서 소장이 위촉한다.
                </p>
                <h6>제 12 조 (총회)</h6>
                <p>
                    ① 총회는 정기총회 및 임시총회로 나누며 최고 의결기구로서 연구소의 주요사안을 심의·의결한다.<br>
                    ② 정기총회는 년 2 회 이상 개최하여야 하며 연구소 운영, 재정, 사업실적 등에 대한 주요사안은 총회의 승인을 얻어야한다.<br>
                    ③ 임시총회는 연구소장이 필요하다고 인정할 때 또는 참여교수 3 인 이상의 요구가 있을 때 연구센터장이 소집한다.<br>
                    ④ 총회의 의장은 연구소장이 된다.
                </p>
                <h5>제 3 장 학술활동</h5>
                <h6>제 13 조 (논문집)</h6>
                <p>
                    ① 연구소는 연구소의 설립 목적에 맞는 논문집을 출간하여야한다.<br>
                    ② 논문집의 발간을 위해서 운영위원회는 편집위원회를 구성할 수 있다. 단, 연구센터 설립 3년까지는 연구부장이 편집위원장을 맡으며 편집위원은 편집위원장이 정한다. 편집위원회는 소정의 심사 및 승인 절차를 거쳐야 한다.<br>
                    ③ 논문집은 매 2년마다 l회 발간하며 참여교수 및 비참여교수(대학교 외부교수 포함)에 의해 작성된 논문을 게재할 수 있다. 또한, 논문집의 발간은 참여교수들에 의한 서적의 출간, 발표논문의 집계 등으로 대신할 수 있다.
                </p>
                <h6>제 14 조 (학술연구발표)</h6>
                <p>
                    ① 연구소는 년 1회 이상의 학술연구발표회를 가져야한다. 학술연구발표회라 함은 학회 및 심포지엄개최 등 20 인 이상이 참여하는 공동발표회를 말하며 발표 시 는 항상 자료를 만들어 보관하여 야 한다.<br>
                    ② 학술연구발표회의 개최는 운영위원회가 결정하고 준비 등은 사무부가 담당한다.
                </p>
                <h6>제 15 조 (워크숍 등)</h6>
                <p>
                    ① 연구소는 워크숍 등 연구활동을 가진다.<br>
                    ② 참여교수 전체워크숍과 연구원워크숍(연구교수, 연구조원, 대학원생 포함)을 필요시 개최할 수 있다.<br>
                    ③ 워크숍 등의 개최는 운영위원회가 결정하고 준비 등은 사무부가 담당한다.
                </p>
                <h5>제 4 장 운영 및 재정</h5>
                <h6>제 16 조 (재정)</h6>
                <p>
                    ① 연구소의 재정은 독립채산제로 하고, 연구간접경비 원천공제액, 대학교지원금, 정부 및 외부지원금, 사업수입금, 기타기부금 및 찬조금 등으로 충당한다.<br>
                    ② 연구소의 회계년도는 대학교 회계년도에 준한다.<br>
                    ③ 연구소장은 매 회계연도(매년 3 월 l 일부터 익년 2 월 말까지) 마다 예산을 편성하여 운영위원회의 심의를 거쳐 확정한다.<br>
                    ④ 예산 편성 후 불가피한 사유로 인하여 기 편성 예산을 변경할 필요가 있을 경우에 연구센터장은 운영위원회의 심의를 거쳐 추경예산을 편성할 수 있다.<br>
                    ⑤ 사무국장은 정확한 자금 관리를 위하여 l개월마다 자금의 수지명세표를 작성하여 연구소장의 결재를 얻어야 한다.<br>
                    ⑥ 예산은 공정하고 효율적으로 사용하도록 노력하며, 성과가 있어야 하고, 연구소장이 지출에 관한 사무를 위임한 경우는 위임관계를 명확하게 하여야한다.<br>
                    ⑦ 연구소장은 사업비 사용에 대한 모든 책임을 지며, 기획부는 예산집행에 관한 일체의 증빙서류를 정리, 보관하여야 한다.
                </p>
                <h6>제 17 조 (보고)</h6>
                <p>
                    연구소장은 다음 사항을 산학연구처장을 거쳐 총장에게 보고하여야 한다.<br>
                    <p class="indent">
                        ① 외부기관으로부터 기부를 받거나 연구, 기술지도 및 자문에 관련된 계약을 체결하는 경우<br>
                        ② 연구소가 주관하는 학술발표회, 학술강연회 및 세미나, 강습회 등 중요 행사를 개최하는 경우<br>
                        ③ 매 학년도 연구계획 및 연구실적<br>
                        ④ 연구소 임원의 위 · 해촉<br>
                        ⑤ 기타 연구소 운영과 관련한 중요정책
                    </p>
                </p>
                <h6>제 18 조 (해산후의 재산 귀속)</h6>
                <p>
                    ① 연구소는 연구소의 본연의 목적을 완수하였을 때, 목적 완수의 불가능이 확실할 때 또는 연구소의 해산이 필요하다고 생각될 때는 연구소를 해산할 수 있다.<br>
                    ② 연구소의 해산은 연구소장 또는 참여교수 4 인 이상의 요구가 있을 때 연구소장이 소집한다. 참여교수 2/3 이상의 찬성이 있어야 해산할 수 있다.<br>
                    ③ 연구소 해산 결의가 있을 때에는 연구소의 재산은 대학교에 귀속한다.
                </p>
                <h5>제 5 장 부 칙</h5>
                <p>
                    ① (시행일) 이 규정은 2016 년 11 월 l 일부터 시행한다.<br>
                    ② (경과조치) 이 규정 제정으로 인한 시행 전 모든 사항에 대해서는 이 규정에 의한 것으로 본다.<br>
                    ③ (시행세칙) 시행세칙은 따로 정할 수 있다.
                </p>
            </li>
        </ul>
    </div>
</div>
{% endblock%}