{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="board_container">
    <div class="board_title">
        <h3 style="background-image: url({% static 'img/마크.jpg' %}"><span class="title">게시판</span></h3>
        <div class="introduce_title_bg" style="background: url({% static 'img/마크.jpg' %} no-repeat 50% 100%);"></div>
        <ul>
            <li><a href="{% url 'board' %}">게시판</a></li>
        </ul>
    </div>
    <div class="board_content">
        <div class="toolbar">
            <span>스포츠융복합연구소</span>
            <span>게시판</span>
            <span>게시판 글쓰기</span>
        </div>
        <h3>게시판 글쓰기</h3>
        <hr>
        <form method="POST" action="{% url 'board' %}">
            {% csrf_token %}
            {% bootstrap_form boardForm %}
            <input type="submit" class="btn btn-success col-12" value="글쓰기">
        </form>
    </div>
</div>
{% endblock%}