body, th, td, input, textarea, button {
    font-size; 14px;
    font-weight: normal;
    line-height: 1.5;
    font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
    color: #444;
}
.board_container {
    display: flex;
    flex-direction: row;
    margin: 1em auto;
    width: 1000px;
    overflow: hidden;
    position: relative;
}
.board_container .board_title {
    padding: 2em;
    box-sizing: border-box;
    display: table-cell;
    width: 300px;
    vertical-align: top;
}
.board_container .board_title h3 {
    padding: 3em;
    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 1.3em;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top;
    opacity: 40%;
    height: 130px;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
}
.board_container .board_title h3 .title {
    margin-bottom: 5em;
    opacity: 100%;
}
.board_container .board_title ul li {
    list-style-type: none;
    padding: 1em;
    border-bottom: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    background: #fff url('../static/img/minimize_black_24dp.svg') no-repeat 100% 30%;
    display: list-item;
}
.board_container .board_title ul li a {
    display: block;
    text-decoration: none;
    color: grey;
}
.board_container .board_content {
    width: 800px;
    padding-top: 4em;
}
.board_container .board_content .toolbar {
    padding-bottom: 2em;
}
.board_container .board_content .toolbar span:after {
    content: '>';
    padding: 0.5em;
}
.board_container .board_content span:last-child {
    font-weight: bold;
}
.board_container .board_content span:last-child:after {
    content: '';
}
.board_container .board_content h2 {
    font-weight: bold;
}
.board_container .board_content h3 {
    font-weight: bold;
    border-left: 5px solid #8BC34A;
    padding-left: 0.6em;
}
.board_container .board_content ul li {
    list-style-type: none;
    padding: 1em 0 0.5em 1em;
    font-weight: bold;
    color: grey;
}
.board_container .board_content ul li p:before {
    content: 'º';
}
.board_container .board_content .board_container_box .board_bg {
    background: url("../static/img/boardbg.png") no-repeat;
    background-size: contain;
}
.board_container .board_content .board_btn_box .board_btn {
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    background-color: #46AA46;
    border: 1px solid #cdcdcd;
    width: 190px;
    height: 40px;
    margin-left: 53px;
}
.board_container .board_content .search .board_module_search {
    font-size: 0;
    text-align: right;
}
.board_container .board_content .search .board_module_search li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    font-size: 14px;
}
.board_container .board_content .search .board_module_search select {
    width: 115px;
    height: 28px;
    border: 1px solid #cdcdcd;
    padding-left: 5px;
    padding-right: 35px;
    appearance: none;
    background: #fff url('../static/img/selectbg.png') no-repeat 100% 0;
}
.board_container .board_content .search .board_module_search select option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
}
.board_container .board_content .search .board_module_search li #search {
    width: 220px;
    height: 28px;
    border: 1px solid #cdcdcd;
    padding-left: 3px;
    box-sizing: border-box;
}
.board_container .board_content .search .board_module_search li .board_btn {
    background-color: #4f4f4f;
    width: 110px;
    height: 28px;
    line-height: 100%;
    color: #fff;
    text-align: center;
}
.board_container .board_content .board_box {
    border-top: 3px solid #000;
}
.board_container .board_content .board_box .grid {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
}
.board_container .board_content .board_box .grid thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.board_container .board_content .board_box .grid tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.board_container .board_content .board_box .grid tr th {
    background-color: #ebebeb;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.board_container .board_content .board_box colgroup {
    display: table-column-group;
}
.board_container .board_content .board_box colgroup col {
    display: table-column;
}
.board_container .board_content .board_box .grid tr th,
.board_container .board_content .board_box .grid td {
    height: 49px;
    border-top: 1px solid #d4d4d4;
}
.board_container .board_content .board_box .grid td {
    font-size: 0.85em;
}
.board_container .board_content .board_box .grid tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.board_container .board_content .board_box .write {
    text-align: right;
    padding-top: 30px;
}
.board_container .board_content .board_box .write .write_btn {
    background-color: #4f4f4f;
    width: 110px;
    height: 28px;
    line-height: 100%;
    color: #fff;
    text-align: center;
}
.board_container .board_content .board_pt30 {
    padding-top: 30px; !important;
}




