{% load static %}
<div class="footer_container">
    <div class="footerbg"></div>
    <pre style="font-family: 'Malgun Gothic', '맑은 고딕', sans-serif; color: grey; font-size: 0.8em; padding: 0.5em;">
        (우)27478 충북 충주시 충원대로 268 건국대학교 GLOCAL(글로컬)캠퍼스 <a href="https://kku.ac.kr/mbshome/mbs/wwwkr/subview.do?id=wwwkr_090200000000" style="text-decoration: none; color: grey"><b>[개인정보처리방침]</b></a>
        268 Chungwon-daero Chungju-si Chungcheongbuk-do 27478 KOREA KONKUK UNIVERSITY GLOCAL CAMPUS

        COPYRIGHT © 2016 <span style="color: green;"><b>KONKUK UNIVERSITY.</b></span> ALL RIGHTS RESERVED.
    </pre>
</div>
