{% load static %}
<div class="footer_container">
    <div class="footer_navi_container">
        <ul>
            <li><b>바로가기</b></li>
            <li><a href="/">스포츠융복합학과</a></li>
            <li><a href="http://tms.kku.ac.kr/member/login.asp">온라인논문투고시스템</a></li>
            <li><a href="https://grad.kku.ac.kr/main.do">Admission 일반대학원 (석사과정안내)</a></li>
        </ul>
    </div>
</div>
<div class="address">
    <img src="{% static 'img/학교 로고.png' %}" alt="" style="padding: 0.8em;">
    <pre style="font-family: 'Malgun Gothic', '맑은 고딕', sans-serif; color: grey; font-size: 0.8em; padding: 0.5em;">
        (우)27478 충북 충주시 충원대로 268 건국대학교 GLOCAL(글로컬)캠퍼스 <a href="https://kku.ac.kr/mbshome/mbs/wwwkr/subview.do?id=wwwkr_090200000000" style="text-decoration: none; color: grey"><b>[개인정보처리방침]</b></a>
        268 Chungwon-daero Chungju-si Chungcheongbuk-do 27478 KOREA KONKUK UNIVERSITY GLOCAL CAMPUS

        COPYRIGHT © 2016 <span style="color: green;"><b>KONKUK UNIVERSITY.</b></span> ALL RIGHTS RESERVED.
    </pre>
</div>
