{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="research_project_container">
    <div class="research_project_title">
        <h3 style="background-image: url({% static 'img/마크.jpg' %}"><span class="title">연구소 소식</span></h3>
        <div class="introduce_title_bg" style="background: url({% static 'img/마크.jpg' %} no-repeat 50% 100%);"></div>
        <ul>
            <li><a href="{% url 'researchfield' %}">연구분야</a></li>
            <li><a href="{% url 'thesisdata' %}">논문자료</a></li>
            <li><a href="{% url 'researchproject' %}">연구과제</a></li>
            <li><a href="{% url 'presentation' %}">학술발표자료</a></li>
        </ul>
    </div>
    <div class="research_project_content">
        <div class="toolbar">
            <span>스포츠융복합연구소</span>
            <span>연구소 소식</span>
            <span>연구과제</span>
        </div>
        <hr>
        <h3>연구과제</h3>
        <ul>
            <li>
                <p>
                    Tilting 플랫폼을 이용한 고유수용성 감각과 시지각 인지반응 훈련이 골퍼들의 퍼팅 수행능력에 미치는 영향(과학기술정보통신부)
                </p>
            </li>
            <li>
                <p>
                    노르딕스키 국가대표 코스공략 및 기술지원(대한장애인노르딕스키연맹)
                </p>
            </li>
            <li>
                <p>
                    하이브리드 체험형 야구게임 시뮬레이터 기술 개발(문화체육관광부)
                </p>
            </li>
        </ul>
    </div>
</div>
{% endblock%}